body{
	background-image: url("https://pp.userapi.com/c858432/v858432310/2a1e9/7PoRkONGXIM.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#p1{
	text-align: center;
	margin-left:600px; 
	margin-right:600px;
}
#p2{
	text-align: center;
}